/* 
.navbar-dark{
    background-color: rgb(243, 205, 34);
    padding: 0 !important;
}
.centerlinks{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-brand{
    display: block;
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;
    float: left;    
}
.nav-link{
    font-size: large;
    color: rgb(87, 85, 85) !important;
    padding-right: 100px !important;
}

.container{
    padding: 0;
    max-width: 100%;

}


@media screen and (max-width: 992px) {
    .navbar-brand{
        float: none;
        width: fit-content;
        display: block;
        text-align: left;
        }
        .container{
            display: block;
        }
        .nav-link{
            padding-left: 50px;
            color: white !important;
            width: 175px;

        }
  } */
